<td>
  <%= link_to(book.user) do %>
    <%= attachment_image_tag book.user, :profile_image, :fill, 50, 50, class: "img-square pull-left profile-img", fallback: "no_image.png" %><br>
  <% end %>
</td>
<td><%= link_to book.title, book %></td>
<td><%= book.body %></td>

<td>
  <%= render 'books/tag', book: book %>
</td>

<td>
  <%= render 'favorites/hart_button', book: book %>
</td>
<td><%= book.book_comments.count %></td>
