<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-square pull-left profile-img", fallback: "no_image.png" %>
<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <th>following</th>
      <td>
        <%= link_to following_user_path(user) do %>
          <%= user.following.count %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>followers</th>
      <td>
        <%= link_to followers_user_path(user) do %>
          <%= user.followers.count %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<div class="row">
  <% unless user == current_user %>
    <% if current_user.following?(user) %>
      <%= render 'follows/unfollow', user: user %>
    <% else %>
      <%= render 'follows/follow', user: user %>
    <% end %>
  <% end %>
</div><br>

<div class="row">
  <%= link_to '', edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
</div>
