<%= render 'users/sidebar', user: @user, book: @new_book %>

  <div class="col-xs-9">
    <h2>Book detail</h2>
    <table class="table">
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@user) do %>
            <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg', class: "img-square profile-img", fallback: "no_image.jpg" %><br>
            <%= @user.name %>
          <% end %>
        </td>
        <td><%= @book.title %></td>
        <td> <%= @book.body %> </td>
        <% if @book.user == current_user %>
          <td><%= link_to "Edit", edit_book_path(@book), class: "btn-sm btn-success edit" %></td>
          <td><%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "本当に消しますか？"}, class: "btn-sm btn-danger destroy" %></td>
        <% end %>
      </tr>
    </tbody>
    </table>
  </div>
</div>
