<%= render 'layouts/sidebar', user: @book.user, book: @new_book %>
<%= render 'book_comments/comment_error' %>


  <div class="col-xs-9">
    <h2>Book detail</h2>
    <table class="table">
    <tbody>
      <tr class="book_<%= @book.id %>">
        <%= render 'books/detail', book: @book %>
      </tr>
    </tbody>
    </table>

    <h2>Comments</h2>
    <table class="table comment_<%= @book.id %>">
      <%= render 'book_comments/comment', book_comments: @book.book_comments %>
    </table>

<%= form_with model:[@book, @book_comment], data: {remote: true} do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.text_area :comment, rows: '5', class: "form-control" %>
      <%= f.submit "送信", class: " pull-right" %>
    </div>
  </div>
<% end %>
</div>
