<h2>Users search</h2>
<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th colpsan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @users. each do |user| %>
    <tr>
      <td>
        <%= link_to user_path(user) do %>
          <%= attachment_image_tag user, :profile_image, :fill, 50, 50, class: "img-square pull-left profile-img", fallback: "no_image.png" %>
        <% end %>
      </td>
      <td><%= user.name %></td>
      <%= render 'follows/follow_form', user: user %>
      <td><%= link_to "Show", user_path(user) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
