<%= render 'layouts/error_messages', book: book %>

  <div class="row">
    <div class="col-xs-3">
      <h2>User info</h2>
      <%= render 'users/user_info', user: user %>

      <h2>New book</h2>
      <%= render 'books/new_book', book: book %>

      <% if current_page?(user_path(current_user)) %>
        <span class="my-ranking"><%= current_user.name %>'s</span>
      <% end %>
      <h2>Book rank</h2>
      <%= render 'books/ranking' %>
    </div>
